<!DOCTYPE html>
<!--[if lt IE 7]><html lang="en" ng-app="practice" ng-strict-di class="no-js lt-ie9 lt-ie8 lt-ie7"><![endif]-->
<!--[if IE 7]><html lang="en" ng-app="practice" ng-strict-di class="no-js lt-ie9 lt-ie8"><![endif]-->
<!--[if IE 8]><html lang="en" ng-app="practice" ng-strict-di class="no-js lt-ie9"><![endif]-->
<!--[if gt IE 8]><!--><html lang="en" ng-app="practice" ng-strict-di class="no-js"><!--<![endif]-->
  <head>
    <title>Angular Empty Practice App</title>
    <link rel="stylesheet" href="../bower_components/bootstrap/dist/css/bootstrap.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/ripples.min.css">
    <link rel="stylesheet" href="../bower_components/bootstrap-material-design/dist/css/material-wfont.css">
    <link rel="stylesheet" href="styles/style.css">
    <link rel="icon" type="image/x-icon" href="favicon.ico">
  </head>
  <body>
    <nav ng-controller="practice.navController as controller" class="navbar navbar-default navbar-fixed-top">
      <div class="container">
        <div class="navbar-header">
          <a ng-click="controller.resetActive()" class="navbar-brand" href="#/">Angular Best Practice</a>
        </div>
        <div class="collapse navbar-collapse">
          <ul class="nav navbar-nav navbar-right">
            <li><a ng-click="controller.setActive($event)" href="#/">Home</a></li>
          </ul>
        </div>
      </div>
    </nav>
    <section class="content container" ui-view></section>
    <footer>
      <div class="container text-right">
        <small class="text-muted">created by Daniel '<a href="http://www.eisbehr.de" target="_blank">Eisbehr</a>' Kern</small>
      </div>
    </footer>
    <!-- angular -->
    <script src="../bower_components/angular/angular.js"></script>
    <script src="../bower_components/angular-ui-router/release/angular-ui-router.js"></script>

    <!-- app -->
    <script src="app.js"></script>
    <script src="core/core.module.js"></script>
    <script src="core/nav.controller.js"></script>
    <script src="home/home.module.js"></script>
    <script src="home/home.route.js"></script>
  </body>
</html>
