<h1>View Routing Example</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Description:</h2>
    <p>This example creates a simple view with custom url route.</p>
    <p>In result it will route <code>#/view</code> to template <code>examples/view/view.tpl.html</code>.</p>

    <h2>Example Location:</h2>
    <p><code>app/examples/view/</code></p>

    <h2>Files:</h2>
    <ul class="text-muted">
      <li>
        <code>view.module.js</code>
        <small> - module creation</small>
      </li>
      <li>
        <code>view.route.js</code>
        <small> - template routing</small>
      </li>
      <li>
        <code>view.tpl.html</code>
        <small> - content template</small>
      </li>
    </ul>
  </div>
</div>
