<h1>Using Promises</h1>
<div class="panel panel-default">
  <div class="panel-body">
    <h2>Description:</h2>
    <p>This example creates a simple promise names <code>usePromise</code> inside the <code>promiseService</code> service.</p>
    <p>Promises enables you to react on <code>.then()</code> and <code>.catch()</code> inside your app.</p>

    <h2>Use Promise</h2>
    <p>
      Trigger the promise by the buttons below.
      Choose to let them success (<code>resolve</code>) or fail (<code>reject</code>).
    </p>
    <button ng-click="controller.executeSuccessful()" class="btn btn-primary">resolve promise</button>
    <button ng-click="controller.executeFailure()" class="btn btn-primary">reject promise</button>

    <h2>Example Location:</h2>
    <p><code>app/examples/promises/</code></p>

    <h2>Files:</h2>
    <ul class="text-muted">
      <li>
        <code>promises.module.js</code>
        <small> - module creation</small>
      </li>
      <li>
        <code>promises.route.js</code>
        <small> - template routing</small>
      </li>
      <li>
        <code>promises.controller.js</code>
        <small> - view controller</small>
      </li>
      <li>
        <code>promises.service.js</code>
        <small> - service creation</small>
      </li>
      <li>
        <code>promises.tpl.html</code>
        <small> - content template</small>
      </li>
    </ul>
  </div>
</div>
